* {
	margin: 0;
	padding: 0;
}

body {
	background: lightgrey;
}

.mainContainer {
	width:100%;
}

.phoneFrame {
	width: 640px;
	margin: 0 auto;
	padding: 1em 0;
	background: black;
	border-radius: 13px;
}

.frame {
	width:95%;
	margin:0 auto;
	display:block;
}

.readout {
	margin-top: 3em;
	background: white;
	text-align: center;
}

.readout p {
	margin: 1em;
	display: inline;
}

.input {
	margin-top: 15px;
	background: #e0f7fa;
	height: 200px;
}

.buttons {
	background: #80cbc4;
	height: 430px;
	padding: 1em 10em;
	text-align: center;
}

.buttons a {
	margin: 1em;
}
